//Common
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    .container {
        width: 1170px;
        margin: auto;
    }
}
