//Vars
$black: #000;
$white: #fff;
$color-navbar: #101010;
$color-second-navbar: #e6e6e6;
$color-text: #333333;
$color-title-navbar:#555567;
$bg-top-footer: #ececec;
$bg-bottom-footer: #1e1e1e;
$color-icon: #009cff;
$color-arrow: #e74500;