.btn {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}

.btn-blue {
    background-color: #009cff;
    width: 30%;
}

.btn-fucsia {
    background-color: #cc397f;
    width: 25%;
}