//Vars
@import 'partials/vars';

//Utilities
@import 'partials/utilities.scss';

//Common
@import 'partials/_common.scss';

//Overall
@import 'partials/overall';

//Header
@import 'partials/header';

//Main
@import 'partials/jumbotron';
@import 'partials/second-menu';
@import 'partials/ideal-painting';

//Footer